[Unit]
Description=BotRegion
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=1
Type=notify
User=bot_region
WorkingDirectory=/opt/bot_region
ExecStart=/usr/bin/python /opt/bot_region/main.py
Restart=on-failure

[Install]
WantedBy=default.target
